################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Product/bin/Debug/netcoreapp3.1
/src/Product/obj
/src/.vs/EcommerceTemplate
/.vs
/src/Product.Application/bin/Debug/netstandard2.0
/src/Product.Application/obj
/src/Product/Product.API/bin/Debug/net5.0
/src/Product/Product.API/obj
/src/Product/Product.Application/bin/Debug/net5.0
/src/Product/Product.Application/obj
/src/Product/Product.Domain/bin/Debug/net5.0
/src/Product/Product.Infrastructure/bin/Debug/net5.0
/src/Product/Product.Infrastructure/obj
/src/Product/Product.Domain/obj
