################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Product/bin/Debug/netcoreapp3.1
/src/Product/obj
/src/.vs/EcommerceTemplate
/.vs
/src/Product.Application/bin/Debug/netstandard2.0
/src/Product.Application/obj
